@model IEnumerable<Organization.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<!-- Container-fluid starts -->
<!-- Main content starts -->
<div class="container-fluid">
    <!-- 2-1 block start -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <h1>Customer Table</h1> <br>
            <div class="card">
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table m-b-0 photo-table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerPhoneNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerEmail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Product)
                                    </th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerPhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.ProductID)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ProductID"
                                               class="btn btn-primary">Edit</a>
                                            <a asp-action="Details" asp-route-id="@item.ProductID"
                                               class="btn btn-secondary">Details</a>
                                            <a asp-action="Delete" asp-route-id="@item.ProductID"
                                               class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <br>
            <p>
                <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
            </p>
        </div>
    </div>
    <!-- 2-1 block end -->
</div>
<!-- Main content ends -->
<!-- Container-fluid ends -->